// -*- mode: cpp; eval: (platformio-mode 1); -*-
#ifndef CONFIG_H_
#define CONFIG_H_

#include "motor_pins.h"

#define WIFI_SSID "SSID"
#define WIFI_PASS "PASS"
#define TCP_PORT 1337

#define GEAR_RATIO 48
#define WHEEL_CIRCUMFERENCE 11.5
#define MAGNET_ARM_C 2

#define DO_SERVO D5
#define DI_HALL D7
#define AO_MOTOR_POW MOTOR_B_POW
#define DO_MOTOR_DIR MOTOR_B_DIR

#endif // CONFIG_H_
